{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text"> Hi, my name is Lucia Jeon. I'm a CTO at a Korean AI startup compnay, and I obtained my Bachelor's degree at NYU Tandon School of Engineering. I love playing the violin, reading, and taking pictures. You can subscribe to my blog for more information.</p>
        <a href="https://www.linkedin.com/in/luciajeon/"
           class="btn btn-danger">Follow me on Linkedin</a>
    </div>
</div>
</div>

{% endblock sidebar %}
